body{
  background-image: url('http://feelgrafix.com/data_images/out/15/894476-star-wars.jpg');
.title{
  color: white;
  text-align: center;
  margin-bottom: -7%;
  font-family: 'Exo', sans-serif;
}
.login{
  text-align: center;
  margin: auto;
  margin-top: 10%;
  width: 80%;
  border: 3px solid white;
  border-radius: 30px;

  .login_nav{
    text-align: center;
    margin-top: 2%;

    .option{
      color: white;
      margin-top: 3%;
      font-size: 1.5em;
      padding-left: 3%;
      margin-left: 5%;
    }
  }

  .google_login{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .login_info{
    margin-top: 3%;
    margin-left: 5%;
    font-size: 1.2em;
    width: 90%;

    .email_form{
      font-size: 1.4em;
      color: white;
    }

    .password_form{
      font-size: 1.4em;
      color: white;
    }
  }

  .submit_login{
    margin-top: 3%;
    border-radius: 20px;
    border: 3px solid white;
    margin-bottom: 3%;
  }
}
  .movie{
    border: 2px solid white;
    background-color: black;
    display: inline-block;
    width: 31%;
    height: 500px;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;

    .poster{
      margin-left: 15%;
      margin-top: 15%;
      width: 70%;
      height: 325px;
    }
  }

  .movie:hover{
    border: 2px solid red;
  }

  .year{
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    margin-left: 7%;
    margin-top: 3%;
  }

  .afterTitle{
    color: red;
    margin-bottom: -7%;
    display: inline-block;
    font-family: 'Exo', sans-serif;
  }

  .newUnwatched{
    border: 2px solid white;
    background-color: black;
    display: inline-block;
    width: 31%;
    height: 500px;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
  }

  input.movieSearch{
    color: white;
    margin-top: -5%;
    margin-left: 30%;
    display: inline-block;
    width: 20%;
  }

  .logout{
    color: white;
    margin-left: 5%;
  }

  .userNav{
    background-color: red;
    border-radius: 20px;

    .view{
      color: black;
      margin-left: 5%;
      font-size: 1.3em;
      font-weight: bolder;
    }

    .view:hover{
      color: white;
      text-decoration: none;
    }

    .active{
      color: white;
      text-decoration: underline;
    }
  }
}
